{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edition d'une catégorie</h1>
    {{ form_start(form) }} {# ouvre le balise form  #}
    {{ form_row(form.name) }}
    
    {# Bouton submit  #}
    <div class="form-btn-group pull-right">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        
        {# lien retour #}
        <a href="{{ path('app_admin_category_index') }}"
           class="btn btn-default">Retour</a>
    </div>    
    
    {{ form_end(form) }} {# ferme le balise form  #}
{% endblock %}